.car ul{
    list-style-type: none;
    align-content: center;
    padding-right: 40px;
}

.car img{
    width:  200px;
    height: 120px;
}

.car li{
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.car p{
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}